h1 {
    font-size: clamp(3rem, 4vw + 1rem, 6rem);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}


.hero {
    display: grid;
    grid-template: 9vh 25% 40% 26% / 6% 14% 30% 6% 25% 7% 6% 6%;
}

.hero-header {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    
    display: grid;
    grid-template: 9vh / 6% 14% 30% 6% 22% 10% 6% 6%;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    max-width: 1480px;
    background-color: var(--main-bg-color);
}

.header-name {
    border-right: 2px solid var(--secondary-blue);
    border-bottom: 2px solid var(--secondary-blue);
    padding: 10px;
    grid-column: 1/ 4;
    grid-row: 1 / 2;

    display: grid;
    grid-template: 1fr / 12% 28% 60%;
    align-items: center;
}

.header-name p {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    border-left: 2px solid var(--secondary-blue);
    padding: 10px;
    font-size: 1.8rem;
}

.header-right-part {
    grid-column: 4 / 9;
    grid-row: 1 / 2;
    border-bottom: 2px solid var(--secondary-blue);
    display: grid;
    grid-template: 1fr / 12% 44% 20% 12% 12%;
    align-items: center;
    position: relative;
}

.right-part-container {
    grid-column: 1 / 5;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
}

.hero-nav ul {
    display: flex;
}

.hero-nav ul li {
    text-align: end;
    padding: 10px;
}

.hero-nav li:hover a {
    cursor: pointer;
    display: inline-block;
}

.hero-nav li a::after {
    content: "";
    width: 100%;
    height: 0.25rem;
    background-color: transparent;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    z-index: -1;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
}

.hero-nav li a:hover::after {
    content: "";
    background-color: var(--secondary-blue);
}

.hero-nav ul li a {
    color: var(--main-txt-color);
    cursor: default;
    text-shadow:var(--secondary-blue);
    font-size: 1.6rem;
}

.menu-burger {
    opacity: 0;
    height: 0;
}

.menu-cross {
    opacity: 0;
    height: 0;
    
    cursor: pointer;
    transition: height 1s ease;
    text-align: end;
}

input {
    display: none;
}

.under-header-line {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    border-right: 2px solid var(--secondary-blue);
}

.hero-center-box {
    grid-column: 3 / 6;
    grid-row: 3 / 4;

    display: grid;
    text-align: center;
    align-items: center;
    border: 4px solid var(--secondary-pink);
    box-shadow:   2.8px 2.8px 2.2px rgba(0, 0, 0, 0.017),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.025),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.032),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.04),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.049),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    padding: 1rem;
}

.hero-social {
    grid-column: 8 / 9;
    grid-row: 2 / 5;
}

.social-icon svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.hero-scroll {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-pink);
    
    box-shadow:   2.8px 2.8px 2.2px rgba(0, 0, 0, 0.017),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.025),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.032),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.04),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.049),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.hero-scroll p svg {
    transform: rotate(90deg);
}

.hero-footer {
    grid-column: 1 / 9;
    grid-row: 5 / 6;
}

.hero-aside-left {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.hero-line-x {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.hero-line-y {
    grid-column: 2 / 3;
    grid-row: 4 / 5;   
}

@media (max-width:1052px) {
    .hero-nav ul {
        opacity: 0;
        height: 0;
        text-align: end;
        position: absolute;
        top: 9vh;
        right: 0;
        width: 100vw;
        
       
        flex-direction: column;
        
        z-index: 5;
        
        background-color: var(--main-bg-color);
        padding-right: 6vw;
        border-bottom: 1px solid var(--secondary-blue);
    }

    .hero-nav ul li {
        height: 0;
        position: relative;
    }

    .menu-burger {
        opacity: 1;
        height: auto;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        transition: all 0.5s ease;
    }

    input:checked ~ .hero-nav ul {
        opacity: 1;
        height: calc(var(--height-link)*5 + 1rem);
        
    }

    input:checked ~ .menu-burger {
        opacity: 0;
        height: 0;
    }

    input:checked ~ .menu-cross {
        opacity: 1;
        height: auto;
        width: auto;        
    }

    .right-part-container {
        display: grid;
        grid-template: 1fr / 12% 44% 20% 12% 12%; 
    }

    .header-menu {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        display: grid;
        grid-template: 1fr / 1fr;
        align-items: center;
        align-content: center;
        
    }

    input:checked ~ .hero-nav ul li {
        height: var(--height-link);
        padding: 1rem 0 0rem 0;
    }
    

    .hero-scroll.scroll,
    .hero-line-x.line-x, 
    .hero-line-y.line-y, 
    .hero-bottom-line1, 
    .hero-bottom-line2 {
        display: none;
    }

    .hero {
        grid-template: 9vh 25% 40% 23% / 6% 14% 30% 6% 25% 7% 6% 6%;
    }

    .hero-center-box {
        grid-column: 2 / 8;
        grid-row: 3 / 5;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        top: 1px;
    }

    .hero-aside-left, .hero-social {
        grid-row: 2 / 5;
        border-bottom: 0;
    }

    .hero-bottom-line1 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        border-bottom: 2px solid var(--secondary-blue);
        width: 100%;
        height: 100%;
    }
    
    .hero-bottom-line2 {
        grid-column: 6 / 8;
        grid-row: 3 / 4;
        border-bottom: 2px solid var(--secondary-blue);
        width: 100%;
        height: 100%;
    } 
    

}

@media (max-width: 768px) {
    .hero {
        grid-template: 9vh 1fr/ 6% 60% 28% 6%;
    }

    .hero-header {
        grid-column: 1 / 5;

        display: grid;
        grid-template: 9vh/ 6% 60% 28% 6%;
    }

    .header-name {
        grid-column: 1 / 3;
    }

    .header-right-part {
        grid-column: 3 / 5;

        display: grid;
        grid-template: 9vh/ 76% 24%;
    }

    .right-part-container {
        grid-column: 1 / 2;
    }

    .hero-center-box {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        width: 80%;
        height: 80%;
        margin: 3rem auto 0;
    }

    .hero-social {
        grid-column: 4 / 5;
        grid-row: 2 /3;
        border-left: 0;
        border-bottom: 0;
        display: flex;
        width: 100%;
    }

    .under-header-line, .hero-bottom-line1, .hero-bottom-line2 {
        display: none;
    }

    .hero-aside-left {
        border-bottom: 0;
        grid-row: 2 /3;
    }
    
    .social-icon svg {
        width: 18px;
        height: 18px;
    }

    .hero-nav ul {
        text-align: center;
        align-items: center;
    }
}