.skills-section {
    display: grid;
    grid-template: 28% 44% 28% / 6% 44% 44% 6%;
}

.skills-section-left-box, .skills-section-right-box {
    border-top: 0;
}

.skills-line-x {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.skills-line-y.line-y {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    right: -8px;
}

.skills-aside-left {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.skills-box {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-right: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-box-item {
    flex-basis: calc(100% / 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-box-item p {
    margin-bottom: 1rem;
}

.skills-bar {
    height: 1rem;    
}

.skills-section:hover .bar-animation1 {
    animation: bar1 6s ease-in-out 1;
    animation-fill-mode: forwards;
}

.skills-section:hover .bar-animation2 {
    animation: bar2 6s ease-in-out 1;
    animation-fill-mode: forwards;
}

.skills-section:hover .bar-animation3 {
    animation: bar3 6s ease-in-out 1;
    animation-fill-mode: forwards;
}

.skills-section:hover .bar-animation4 {
    animation: bar4 6s ease-in-out 1;
    animation-fill-mode: forwards;
}

.skills-section:hover .bar-animation5 {
    animation: bar5 6s ease-in-out 1;
    animation-fill-mode: forwards;
}

.skills-section:hover .bar-animation6 {
    animation: bar6 6s ease-in-out 1;
    animation-fill-mode: forwards;
}

.skills-bar > div {
    height: 1rem;
}

@keyframes bar1 {
    from {
      width: 0;
      background-color: var(--secondary-pink);
    }
    
    to {
      width: 60%;
      background-color: var(--secondary-pink);
    }
  }

@keyframes bar2 {
    from {
      width: 0%;
      background-color: var(--secondary-pink);
    }
    
    to {
      width: 50%;
      background-color: var(--secondary-pink);
    }
  }

@keyframes bar3 {
    from {
      width: 0%;
      background-color: var(--secondary-pink);
    }

    to {
        width: 75%;
        background-color: var(--secondary-pink);
      }
  }

@keyframes bar4 {
    from {
      width: 0%;
      background-color: var(--secondary-pink);
    }

    to {
        width: 65%;
        background-color: var(--secondary-pink);
      }
    }

@keyframes bar5 {
    from {
      width: 0%;
      background-color: var(--secondary-pink);
    }

    to {
        width: 55%;
        background-color: var(--secondary-pink);
      }
    }

@keyframes bar6 {
    from {
      width: 0%;
      background-color: var(--secondary-pink);
    }

    to {
        width: 80%;
        background-color: var(--secondary-pink);
      }
    }

.skills-social {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.scroll.skills-scroll {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.skills-quote {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    align-items: center;
}

.skills-quote p {
    border-left: 4px solid var(--secondary-blue);
    padding: 3rem;
}

.aside-left-hide, .social.social-hide {
  display: none;
} 

@media (max-width: 1052px) {
  .bar-animation1 {
    animation: bar1 6s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.bar-animation2 {
  animation: bar2 6s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.bar-animation3 {
  animation: bar3 6s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.bar-animation4 {
  animation: bar4 6s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.bar-animation5 {
  animation: bar5 6s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.bar-animation6 {
  animation: bar6 6s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.skills-section-left-box, .skills-section-right-box {
  border-top: 2px solid var(--secondary-blue);
}
}

@media (max-width: 768px) {
  .skills-section {
    margin-top: 0;
    display: grid;
    grid-template: 9vh 81% / 6% 88% 6%;
    border-top: 2px solid var(--secondary-blue);
    height: auto;
  }

  .skills-section-left-box {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aside-left-hide {
    display: block;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-bottom: 2px solid var(--secondary-blue);
  }

  .skills-center-box.center-box {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0;
    width: 100%;
    height: 100%;
    right: 0;
    top: -2px;
    text-align: center;
  }

  .line-x.skills-line-x, .line-y.skills-line-y, 
  .scroll.skills-scroll, .skills-quote, 
  .skills-aside-left.aside-left,
  .skills-social.social {
    display: none;
  }

  .skills-section-right-box {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-top: 0;
    padding: 8rem 0;
  }

  .social.social-hide {
    display: block;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-bottom: 2px solid var(--secondary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .social.social-hide > div {
    display: none;
  }

  .skills-bar > div {
      display: none;
  }

  .skills-box-item > div {
    background-color: var(--secondary-pink);
    height: 1rem;
    margin-bottom: 1rem;
  }

  .skills-bar1 {
    width: 60%;
  }

  .skills-bar2 {
    width: 50%;
  }

  .skills-bar3 {
    width: 75%;
  }
  
  .skills-bar4 {
    width: 65%;
  }

  .skills-bar5 {
    width: 65%;
  }

  .skills-bar6 {
    width: 55%;
  }
  }